body {
    background-image: url('../images/background.jpg');
    font-family: 'Source Sans Pro', sans-serif !important;
}

#content {
    position: absolute;
    top: 30%;
    height: 275px;
    width: 100% !important;
    padding-top: 10px;
    border-bottom: 2px solid ;
    border-top: 2px solid ;
    border-color: white;
}

#name {
    position: relative;
    text-align: center;
}

.name {
    display: inline;
}

.caps {
    font-weight: bold;
}

#connect {
    padding-top: 50px;
    font-size: 10px;
}

a {
    cursor: pointer;
    text-decoration:none !important;
    color: #808080;
}

#resume {
    position: relative;
    font-size: 14px;
}

#resume a {
    position: absolute;
    left:-30%
}

@media screen and (min-width: 1200px) {
    .caps {
        font-size: 90px;
    }

    .small {
        font-size: 65px;
    }
}

@media screen and (min-width: 992px)
and (max-width: 1199px) {
    .caps {
        font-size: 72px;
    }

    .small {
        font-size: 52px;
    }
}

@media screen and (min-width: 768px)
and (max-width: 991px)
{
    .caps {
        font-size: 54px;
    }

    .small {
        font-size: 39px;
    }
}

@media screen and (max-width: 768px)
{
    .caps {
        font-size: 36px;
    }

    .small {
        font-size: 26px;
    }
}

